# Images template
ZAPP_SERVER_IMAGE=${ZAPP_SERVER_IMAGE}

# Subnet template
EXT_NET_SUB=${EXT_NET_SUB}

# IP address templates
ZAPP_SERVER_IP=${ZAPP_SERVER_IP}
MONGO_IP=${MONGO_IP}
MINIO_IP=${MINIO_IP}

# Minio creds
S3_ACCESS_KEY=${S3_ACCESS_KEY}
S3_SECRET_KEY=${S3_SECRET_KEY}
